<div class="background">
  <img class="cab-sapo" src="../../assets/Cabeca_Sapo.png" alt="sapo"/>
  <img class="button-img" src="../../assets/ButtonL_R.png" alt="button_img">
</div>
 <div class="form-group">
  <h3 class="title">Sign Up</h3>
   <label for="name" class="lb-name">Name</label>
   <input placeholder="John Marco" type="name" class="form-control">
   <label for="email" class="lb-name">Email</label>
   <input placeholder="exemplo1234@gmail.com" type="email" class="form-control">
   <label for="password" class="lb-name">Password</label>
   <input placeholder="***********" type="password" class="form-control">
   <button class="btn-signup" [routerLink]="['/login']" routerLink="active" mat-button>Sign In</button>
 </div>
