.background{
  background-color: #29D673;
  width: auto;
  height: 170px;
}

h1{
  color: white;
  margin-left: 2%;
  font-size: 45px;
  padding: 2%;
}

.cab-sapo{
  width: 55%;
  margin-left: 2%;
  margin-top: 20%;
}

.button-img{
  width: 20%;
  margin-left: 13%;
  margin-top: 35%;
}

.form-group{
  margin-top: 24%;
}

.title{
  font-size: 40px;
  margin-left: 10%;
}

.lb-name{
  margin-left: 12%;
}

.form-control{
  width: 80%;
  margin-left: 10%;
  border-radius: 25px;
}

.btn-signup{
  margin-top: 5%;
  margin-left: 65%;
}
