<div class="user-img"></div>
<div class="grupos-display">
  <h1 class="title-bills">My Bills</h1>
  <div class="grupo"></div>
</div>

<div class="navbar">
  <div class="add-btn">
     <button class="btn-add" [routerLink]="['/creategroup']" routerLink="active"><img src="../../../assets/add button.png"></button>
  </div>

  <div class="home-btn">
    <button class="btn-home"><img src="../../../assets/Home.png" height="26px" width="26px"></button>
  </div>

  <div class="setting-btn">
    <button class="brn-setting"><img src="../../../assets/settings.png" height="26px" width="26px"></button>
  </div>

  <div class="notificacao-btn">
    <button class="btn-notificacao" [routerLink]="['/notificacao']" routerLink="active"><img src="../../../assets/Notificações.png" height="26px" width="26px"></button>
  </div>

  <div class="user-btn">
    <button  class="btn-userprefil" [routerLink]="['/usersettings']" routerLink="active"><img src="../../../assets/user profile.png" height="26px" width="26px"></button>
  </div>

  <img src="../../../assets/navbar.png">
</div>

