


.user-img{
  position: absolute;
width: 50px;
height: 50px;
left: 241px;
top: 26px;
border-radius: 50%;
background-color: black;
}


.title-bills
{
  position: absolute;
width: 159px;
height: 54px;
left: 41px;
top: 130px;
font-size: 40px;
}

.navbar{
  position: fixed;
left: -40px;
bottom: 0;
right: -1.22%;
top: 570px;
bottom: -1.23%;
}




.home-btn{
  position: absolute;
width: 29.51px;
height: 29.51px;
left: 265px;
}


.btn-home
{
  background-color: transparent;
  border-color: transparent;
}



.notificacao-btn{
  position: absolute;
width: 29.57px;
height: 29.57px;
left: 108px;
}

.btn-notificacao{
  background-color: transparent;
  border-color: transparent;
}


.user-btn{
  position: absolute;
width: 24px;
height: 26px;
left: 59px;
top: 32px;
}


.btn-userprefil{
  background-color: transparent;
  border-color: transparent;
}

.setting-btn{
  position: absolute;
  width: 24px;
  height: 26px;
  left: 309px;
  top: 34px;
}

.brn-setting{
  background-color: transparent;
  border-color: transparent;
}

.btn-add{
   border-color: transparent;
    background-color: transparent;
    position: fixed;
width: 66px;
height: 66px;
left: 125px;
top: 540px;
}
