
<div class="btns">
  <button [routerLink]="['/mybills']" routerLink="active" class="btn-exit">
    <img src="../../assets/exit.png">
  </button>
  <h1 class="h1-group">Create Your Group</h1>
  <button class="btn-quick">
    <h2>Quick Bills</h2>
  </button>
  <button class="btn-long">
    <h2>Long Bills</h2>
  </button>
</div>
