.btn-quick
{
  position: absolute;
width: 275px;
height: 190px;
left:25px ;
top: 439px;
background: #FFFFFF;
border-radius: 41px;
border-color: transparent;
}
.btn-long{
  position: absolute;
  width: 275px;
  height: 190px;
  left: 25px;
  top: 219px;
  background: #FFFFFF;
  border-radius: 41px;
  border-color: transparent;
}

.btn-exit{
  border-color: transparent;
  background-color: transparent;
  position: absolute;
  width: 23.64px;
  height: 23.12px;
  left: 255px;
  top: 26px;
}


.h1-group
{
  position: absolute;
width: 211px;
height: 109px;
left: 38px;
top: 73px;

font-family: Bahnschrift;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 54px;
}
