<div class="background">
  <div class="btn-exit">
    <button [routerLink]="['/mybills']" routerLink="active" class="btn-exit2" type="button">
      <img src="../../../assets/exit.png" alt="icon">
    </button>
  </div>
  <div class="user-profile"></div>
  <div class="user-name">
    <p class="user-name2">teste</p>
  </div>
  <div class="divider"></div>
  <div>
    <p class="num-vatation">15</p>
    <p class="num-vatation2">Vacations</p>
    <p class="num-bills">5</p>
    <p class="num-bills2">Bills</p>
    <p class="num-money">250</p>
    <p class="num-money2">Money</p>
  </div>
  <div class="bg-settings">
    <div class="icon-1"></div>
    <p class="text-icon">Settings</p>
    <img class="arrow" src="../../../assets/right-arrow.png" alt="">
    <div class="icon-2"></div>
    <p class="text-icon2">Statistics</p>
    <img class="arrow2" src="../../../assets/right-arrow.png" alt="">
    <div class="icon-3"></div>
    <p class="text-icon3">Information</p>
    <img class="arrow3" src="../../../assets/right-arrow.png" alt="">
    <div class="icon-4"></div>
    <p class="text-icon4">Logout</p>
  </div>
</div>

