body{
  background-color: grey;
}


.user-profile{
  position: absolute;
width: 136px;
height: 174px;
left: 95px;
top: 107px;
background-color: black;
border-radius: 23px;
}

.user-name{
  position: absolute;
width: 102px;
height: 41px;
left: 112px;
top: 261px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

.user-name2{
  text-align: center;
  margin-top: 4%;
  font-size: 20px;
}

.btn-exit{
  position: absolute;
width: 23.64px;
height: 23.12px;
right: 35px;
top: 26px;

}

.btn-exit2{
  text-decoration: none;
  border-color: transparent;
  background-color: transparent;
}


.divider{
  position: absolute;
width: 249px;
height: 0px;
left: 35px;
top: 334px;

border: 1px solid rgba(0, 0, 0, 0.15);
}

.num-vatation{
  position: absolute;
width: 23px;
height: 30px;
font-size: 20px;
left: 70px;
top: 339px;
}

.num-vatation2{
  position: absolute;
  width: 65px;
  height: 18px;
  left: 39px;
  font-size: 20px;
  top: 370px;
}

.num-bills{
  position: absolute;
width: 14px;
height: 30px;
font-size: 20px;
left: 158px;
top: 339px;


}
.num-bills2{
  position: absolute;
  width: 30px;
  height: 18px;
  left: 148px;
  font-size: 20px;
  top: 370px;

}


.num-money{
  position: absolute;
width: 56px;
height: 30px;
left: 230px;
font-size: 20px;
top: 339px;

}

.num-money2{
  position: absolute;
width: auto;
height: 18px;
font-size: 20px;
left: 230px;
top: 370px;


}

.bg-settings{
  position: absolute;
width: 300px;
height: 310px;
left: 10px;
top: 443px;


background: #29D673;
border-radius: 46px;
}


.icon-1{
  position: absolute;
width: 47px;
height: 47px;
left: 38px;
top: 44px;
background-color: #29A873;
border-radius: 12px;

}

.icon-2{
  position: absolute;
width: 47px;
height: 47px;
left: 38px;
top: 104px;
background-color: #29A873;
border-radius: 12px;

}

.icon-3{
  position: absolute;
width: 47px;
height: 47px;
left: 38px;
top: 170px;
background-color: #29A873;
border-radius: 12px;

}

.icon-4{
  position: absolute;
width: 47px;
height: 47px;
left: 38px;
top: 230px;
background-color: #29A873;
border-radius: 12px;

}
.text-icon{
  position: absolute;
width: 74px;
height: 24px;
left: 104px;
top: 52px;
color: white;
font-size: 20px;
}

.text-icon2{
  position: absolute;
width: 74px;
height: 24px;
left: 104px;
top: 112px;
color: white;
font-size: 20px;
}

.text-icon3{
  position: absolute;
width: 74px;
height: 24px;
left: 104px;
top: 178px;
color: white;
font-size: 20px;
}

.text-icon4{
  position: absolute;
width: 74px;
height: 24px;
left: 104px;
top:238px;
color: white;
font-size: 20px;
}


.arrow{
  position: absolute;
width: 24px;
height: 20px;
left: 234px;
top: 58px;
}


.arrow2{
  position: absolute;
  width: 24px;
  height: 20px;
  left: 234px;
  top: 118px;
}

.arrow3{
  position: absolute;
  width: 24px;
  height: 20px;
  left: 234px;
  top: 187px;
}
