.background{
  background-color: #29D673;
  width: auto;
  height: 230px;
}

h1{
  color: white;
  margin-left: 2%;
  font-size: 45px;
  padding: 2%;
}

.cab-sapo{
  width: 55%;
  margin-left: 2%;
  margin-top: 30%;
}

.button-img{
  width: 20%;
  margin-left: 13%;
  margin-top: 60%;
  height: 60px;
  width: 60px;

}

.form-group{
  margin-top: 17%;

}

.title{
  font-size: 40px;
  margin-left: 10%;
}

.lb-mail{
  margin-left: 12%;
}

.form-control{
  width: 80%;
  margin-left: 10%;
  border-radius: 25px;
}

.hidden-msg{
  width: 80%;
  margin-left: 10%;
}

.recov-pass{
  font-size: 10px;
  margin-left: 10%;
}

.signin{
  margin-top: 10%;
  margin-left: 70%;
}

.btn-login{
  border-color: transparent;
  background-color: transparent;
  height: auto;
  width: auto;
  margin-top:-100px;
  margin-left:60%;
}
