<div class="background">
    <div class="sapo">
      <img class="cab-sapo" src="../../assets/Cabeca_Sapo.png" alt="sapo">
    </div>
    <button class="btn-login" [routerLink]="['/mybills']" routerLink="active"><img class="button-img" src="../../assets/ButtonL_R.png" alt="button_img"></button>
</div>
<div class="form-group">
  <h3 class="title">Sign In</h3>
  <label class="lb-mail" for ="email">Email</label>
    <input placeholder="exemplo1234@gmail.com" type="text" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="email"name="email" ngModel #emailref="ngModel">
  <label class="lb-mail" for ="email">Password</label>
    <input placeholder="*********" type="password" class="form-control">
  <a class="recov-pass" href="">Forget Password</a>
  <button class="btn-signin" mat-button>Sign Up</button>
</div>






