<div>
  <a class="skip-button" mat-button routerLink="login">Skip</a>
  <div class="img-slid">
    <img src="../../assets/Tutorial1.png" alt="" class="responsive-img" />
    
  </div>

  <button class="btn-getstarted" routerLink="registo" mat-raised-button>
    Get Started
  </button>
</div>
