html, body {
  overflow-x: hidden;
}
.skip-button {
  display: flex;
  margin-left: 85%;
}

.responsive-img {
  position: relative;
  width: 95%;
  height: auto;
  align-items: center;
}

.btn-getstarted {
  margin-left: 65%;
  background-color: #29d673;
}



