.atividade-div{
  position: absolute;
width: 343px;
height: 607px;
left: -11px;
top: 189px;

background: #29D673;
border-radius: 56px;
}



.text-div1{
  color:#F6F6F6;
  position: absolute;
width: 169px;
height: auto;
left: 51px;
top: 25px;
font-size: 30px;
}

.atividade-div2{
display: block;
position: absolute;
width: 363px;
height: 589px;
left: -11px;
top: 86px;

background: #F6F6F6;
border-radius: 56px;
}


.line1{
  position: absolute;
width: 190px;
height: 0px;
left: 150px;
top: 50px;

border: 1px solid #B3B3B3;
}


.text-divlinha{
  position: absolute;
width: 63px;
height: 13px;
left: 59px;
top: 40px;
color:#B3B3B3;
font-size: 15px;
}


.navbar{
position: fixed;
top: 610px;
height: auto;
left: -35px;
}

.add-btn{
  position: fixed;
width: 66px;
height: 66px;
top: 580px;
left: 137.5px;
}
